
/* Home */
#snare {
    background: url(../snareD.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#news_Intro, #django{
    color: #968273;
} 

#homeView, #loginMain{
    height: 50rem;
}
/* Articles */
.new_Contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
}
.articleHeads, #postTitle{
    color: #968273;
    font-family: 'Poiret One', cursive;
}
#newHead, #editHead, #deleteHead{
    font-size: 4rem;
    margin-bottom: 1rem;
    padding-top: 3rem;
}
.articleInfo{
    padding: 2.5rem;
    border-top:1px solid #5a422f;
    border-bottom: 1px solid #5a422f;
    color: #968273;
    font-family: 'Poiret One', cursive;
}
.articleForms{
    background-color: #9e9c9a3b;
    color: white;
    padding: 3rem;
    margin-left: 1rem;
    height: 30rem;
    width: 75%;
    border: 1px solid white;
    filter: drop-shadow(4px 3px 3px black);
}
/* Artical Detail */
#card{
    background-color: #9e9c9a62;
    margin-bottom: 2rem;
}
#detail, #card-body{
    color: white;
}
#postTitle{
    padding-top: 2rem;
}
#postEdit, #list_header{
    padding-bottom: 1rem;
    border-bottom: 1px solid #968273;
}
#optionBar, #back{
    color: #968273;
}
/* Article List */
#list_header{
    padding-top: 5rem;
    margin-bottom: 2rem;
}
#header{
    color: white;
}
#user{
    color: #968273;
}
/* Article Delete */
#deleteForm, #loginForm{
    height: 10rem;
    margin-top: 3rem;
    color: white;
}
/* Passoword & Email stylings */
#changeHead, #doneHead, #loginHead{
    padding-top: 3rem;
}
#login{
    margin-top: 4rem;
}
#signUp{
    background-color: #9e9c9a3b;
    color: white;
    padding: 3rem;
    margin-left: 1rem;
    height: 37rem;
    width: 75%;
    border: 1px solid white;
    filter: drop-shadow(4px 3px 3px black);
}