#snare {
    background-image: url(../snareD.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
}
#news_Intro, #django{
    color: #5a422f;
} 

/* Articles */
#list, #new_Contain{
    padding-top: 5rem;
    background-color: rgba(90,90,90,.6);
    height: 50rem;
}
#new, #list_header{
    color: #968273;
}
/* article_new */
#new_Contain{
    display: flex;
    justify-content: center;
}
