
{% extends 'base.html' %}

{% block content %}
<div class="new_Contain" class="container">
    <h1 class="articleHeads" id="newHead">New Composition</h1>
        <h3 class="articleInfo">Make a new article entry for the drummer community. Tap the 'Save' so we can be inspired and fueled to go practice more!</h3>
            <form class="articleForms" action="" method="post">{% csrf_token %}
            {{ form.as_p }}
                <button class="btn btn-outline-light btn-lg m1-2" type="submit">Save</button>
            </form>
</div>
{% endblock content %}