<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username}}! You are {{ user.age }} years old.
        <p><a class="btn btn-outline-secondary" href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a class="btn btn-outline-secondary" href="{% url 'login' %}">Log In</a>
        <a class="btn btn-primary ml-2" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}